.hero {
  position: relative;
  padding: 130px 0 70px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: $black-bg;

    img {
      position: absolute;
      top: 5%;
      left: 0;
      width: 95%;
      transform: translateX(-39%);
    }
  }
  &__inner {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;

    &-content {
      width: 525px;
      color: $white;

      h1 {
        margin-bottom: 0.5em;
        letter-spacing: -2px;
        span {
          display: inline-block;
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0.1em;
            right: 0;
            width: calc(100% + 0.2em);
            height: 0.28em;
            background: url(../../../images/home/underline.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            z-index: -1;
          }
        }
      }

      ul {
        margin-bottom: 35px;

        li {
          position: relative;
          color: $white;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 1;
          letter-spacing: -0.5px;
          padding: 0.4em 0.4em 0.4em 1.8em;
          margin-bottom: 5px;

          &:before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1.35em;
            height: 1.35em;
            background: url(../../../images/ico/tick-green.svg);
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
      .input {
        font-size: 16px;
        margin-bottom: 30px;
        input {
          padding-right: 145px;
        }
        .button {
          width: 125px;
        }
      }
      &-counter {
        display: flex;
        align-items: center;

        //font
        color: $white;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.5px;

        strong {
          margin-right: 0.35em;
          //font
          color: $primary;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 700;
          font-size: 1.8em;
          line-height: 42px;
          letter-spacing: -1px;
        }
      }
    }
    &-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 525px - 40px);
      max-width: 580px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &--bg {
    .hero__bg {
      height: 560px;
    }
  }
}
.companies {
  padding: 55px 75px;
  &__inner {
    margin: 0 -18px;

    strong {
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }
    .slick {
      &-list {
        overflow: visible;
      }
      &-slide {
        display: flex;
        justify-content: center;

        & > div {
          width: 90%;
        }
      }
    }
  }
  &__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: $white;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    width: 100%;
    height: 95px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.3s ease-in;

    img {
      width: 100px;
      height: 32px;
      object-fit: contain;
    }
    &:hover {
      border-color: rgba($black-secondary, 0.2);
    }
  }
}
.latest {
  padding: 120px 0 130px;
  &__inner {
    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      gap: 20px;

      h2 {
        color: $black-secondary;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 1.1%;
      }
      p {
        width: 100%;
        max-width: 450px;
        //font
        color: $black-primary;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }
  img {
    width: 100%;
  }
  &__banner {
    position: relative;
    border-radius: 26px;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    min-height: 500px;

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%);
        opacity: 0.6;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 45px;

      &-header {
        color: $white;
        strong {
          color: $primary-1;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.2;
          text-transform: uppercase;
        }
        h3 {
          color: $white;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 1.1;
        }
      }
      .button {
        align-self: flex-start;
      }
    }
  }
  &__row {
    display: flex;

    &._column {
      flex-direction: column;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 15px;

    width: calc(25% - 30px);
    &._lg {
      width: calc(50% - 30px);
    }
  }
  &__item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
    width: 100%;
    border-radius: 16px;
    padding: 2em 4em 2em 2em;
    font-size: 14px;
    overflow: hidden;

    p {
      //font
      color: $black;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
    }
    strong {
      color: $black;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 110%;
    }
    &-ico,
    &:after {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 3em;
      right: 2.5em;
      width: 2.3em;
      height: 2.3em;
      font-size: inherit;
      transform: translate(50%, 50%);
    }
    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      background: $white-secondary;
      z-index: -2;
    }

    &-ico {
      color: $black;
      transition: 0.3s ease-out;

      svg {
        width: 0.8em;
        height: 0.8em;
      }
    }
    &:after {
      content: "";
      border-radius: 50%;
      width: 0em;
      height: 0em;
      background: rgba($black, 0.08);
      transition: 0.5s ease-out 0.1s;
      z-index: -1;
    }

    &:hover {
      &:after {
        width: 80vw;
        height: 80vw;
      }
    }

    &._main {
      &:before {
        background: $primary-light;
      }
    }
    &._rose {
      &:before {
        background: $white-primary;
      }
    }
  }
}
.build {
  position: relative;
  background: $white-bg;
  padding: 130px 0 140px 0;
  overflow: hidden;

  &__bg {
    position: absolute;
    left: 55%;
    bottom: 100%;
    width: 53%;
    height: auto;
    pointer-events: none;
    transform: translateY(33%);

    img {
      width: 100%;
    }
  }
  &__inner {
    h2 {
      color: $black-secondary;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 1.1;
      letter-spacing: -2px;
      margin-bottom: 100px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 165px;

      &-item {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        strong {
          color: $secondary;
          font-family: $font-dm-sans;
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 1;
          width: 7%;
        }
        h3 {
          color: $black-secondary;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 1.2;
          width: 28%;
          max-width: 285px;
        }
        p {
          color: rgba($black-primary, 0.8);
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 1.7;
          width: 40%;
          max-width: 410px;
        }
        a {
          position: relative;
          align-self: center;
          width: 18%;
          padding-left: 4em;
          transition: 0.3s ease-out 0.2s;

          //font
          color: $secondary;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 1;
          letter-spacing: 4px;

          span {
            position: absolute;
            top: 50%;
            left: 0;
            width: 2em;
            height: 4px;
            transform: translateY(-50%);

            &:after,
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: $secondary;
              border-radius: inherit;
              border-radius: 4px;
              transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
            }
          }
          &::before {
            opacity: 0;
            transition-property: width, background-color;
          }

          &:hover {
            color: rgba($secondary, 0.7);
            transition-delay: 0s;

            span {
              &::before {
                width: 20%;
                opacity: 1;
                background: rgba($secondary, 0.5);
                transition-delay: 0s;
              }
              &::after {
                left: 30%;
                width: 70%;
                transition-delay: 0s;
              }
            }
          }
        }
      }
    }
  }
}
.generate {
  position: relative;
  padding: 70px 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $black-bg;
    z-index: -1;

    span {
      position: absolute;
      top: 50%;
      width: 20px;
      height: 1px;
      border-radius: 50%;
      background: rgba($secondary-1, 0.5);
      box-shadow: 0 0 35vw 15vw $secondary-1;
      opacity: 0.35;

      &:nth-child(1) {
        left: -15px;
        transform: rotate(-30deg);
      }
      &:nth-child(2) {
        right: -15px;
        transform: rotate(30deg);
      }
    }
  }
  &__inner {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    color: $white;

    &-content {
      margin-bottom: 44px;

      h2 {
        color: $white;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: -2px;
        text-transform: capitalize;

        ///
        margin-bottom: 0.9em;
      }
      .input {
        width: 100%;
        font-size: 16px;
      }
    }
    &-tags {
      display: flex;
      align-items: baseline;
      justify-content: center;
      flex-wrap: wrap;
      gap: 6px 15px;

      span {
        color: $white;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        margin: 0.6em;
      }
      label {
        cursor: pointer;
        padding: 0.8em 1.4em;
        background: rgba($white, 0.2);
        border-radius: 1.5em;
        transition: 0.3s ease-out;
        //font
        color: $white;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        text-align: center;

        &:hover {
          background: rgba($white, 0.35);
        }
        &:active {
          background: rgba($white, 0.15);
        }
      }
    }
  }
}

.feedbacks {
  padding: 110px 0;

  &__inner {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 80px;

      h2 {
        //font
        color: #1d263a;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 1.2;
        letter-spacing: -2px;
        width: 100%;
        max-width: 460px;
      }
      p {
        color: $black-primary;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        width: 100%;
        max-width: 460px;
      }
    }
  }

  &__slider {
    display: flex;
    justify-content: space-between;

    &-image {
      display: flex;
      width: 455px;
      height: 340px;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      width: calc(100% - 455px - 30px);
      max-width: 660px;
      &-title {
        margin-bottom: 1em;
        // font
        color: $black;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
      }
      &-user {
        strong {
          display: flex;
          align-items: baseline;
          // font
          color: $black;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 1.2;
        }
        span {
          // font
          color: $black-primary;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &-dots {
      display: flex;
      font-size: 12px;
      gap: 1em;
      margin-top: 40px;
      span {
        cursor: pointer;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: $gray-3;
        transition: 0.3s ease-out;

        &:hover {
          background: rgba($black-primary, 0.5);
        }
        &.active {
          background: $primary;
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;

    &-counter {
      width: 100%;
      max-width: 460px;

      h3 {
        color: $black-secondary;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -2px;
      }
      p {
        color: $black-primary;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
      }
    }

    &-stars {
      display: flex;
      width: 100%;
      max-width: 400px;
      margin-right: 60px;

      &-item {
        display: flex;
        flex-direction: column;
        padding: 10px 40px;
        border-right: 1px solid $white-2;

        strong {
          margin-bottom: 8px;
          //font
          color: $black-secondary;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 1;
        }
        span {
          margin-top: 8px;
          //font
          color: $black-primary;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
        }
        &:last-child {
          border: 0;
        }
      }
    }
  }
}
