.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.autoContainer {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 60px;
}

.input {
  display: flex;
  width: 100%;
  font-size: 20px;

  input {
    padding: 1.2em 1.9em;
    border-radius: 2em;
    width: 100%;
    background-color: $white-1;
    border: 2px solid $white-bg;

    transition: 0.3s ease-out;

    //font
    color: $black-secondary;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: inherit;
    line-height: 1;
    &::placeholder {
      color: rgba($black-secondary, 0.4);
    }
  }
  &--primary {
    input {
      background: $white;
      border-color: rgba($black-2, 0.06);
      box-shadow: 0px 22px 28px rgba($black, 0.22);
      border-radius: 3em;

      &:focus {
        color: $secondary;
        border-color: $secondary;
        // background: $secondary;
      }
    }
  }
  &--buttonRight {
    position: relative;

    .button {
      position: absolute;
      top: 50%;
      right: 0.5em;
      transform: translateY(-50%);
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
  border: 1px solid $secondary;

  color: $black;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease;

  &--primary {
    background: $primary;
    border-color: $primary;
    border-radius: 100px;

    &:hover {
      background: mix($primary, $white, 90%);
    }
  }
  &--iconright {
    svg {
      width: 0.6em;
      height: 0.6em;
      margin-left: 1em;
    }
  }

  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
}
.greenDot {
}

